* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  padding-top: 40px;
  margin: auto;
}
.sidebar {
  height: 90vh;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
  padding: 40px;
  position: sticky;
  top: 40px;
}
.profile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #3a3a3a;
}

.profile {
  text-align: center;
}

.profile h2 {
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.6rem;
  color: #e0e0e0;
}

.profile p {
  background-color: #1e1e1e;
  padding: 5px 15px;
  color: #ffbf00;
  border: 1px solid#3a3a3a;
  font-size: 0.8rem;
  margin-top: 10px;
  display: inline-block;
  border-radius: 8px;
}

.main-content {
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  border-radius: 16px;
}

.contact {
  border-top: 2px solid #3a3a3a;
  margin-top: 10px;
  padding-top: 20px;
}
.social {
  border-top: 2px solid #3a3a3a;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
}
a {
  text-decoration: none;
}
.email > a,
.phone > a,
.location > p {
  color: #e0e0e0;
}
svg,
a > img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
    hue-rotate(206deg) brightness(103%) contrast(100%);
  opacity: 50%;
  transition: transform 0.3s ease;
}
svg,
a:hover > img:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
    hue-rotate(206deg) brightness(103%) contrast(100%);
  opacity: 100%;
  transform: scale(1.2);
}

.email,
.phone {
  margin-bottom: 10px;
}
.email > h3,
.phone > h3,
.location > h3 {
  /* color: #FFBF00; */
  font-weight: 500;
  font-size: 0.8rem;
  color: #a0a0a0;
}

/* Main ::content */

.navigation {
  padding: 30px 40px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3a3a3a;
  /* text-decoration: none; */
}

nav > a {
  transition: color 0.5s ease;
  color: #a0a0a0;
  font-weight: 500;
  transition: transform 0.3s ease;
}

nav > a:hover {
  color: #ffbf00;
  transform: scale(1.1);
}

.heading{
  color: #e0e0e0; 
  font-size: 2rem;
  margin-bottom: 15px;
}

.line{
  width: 60px;
  height:5px;
  border-radius: 5px;
  background-color: #ffbf00;
  margin-bottom: 10px;
}

#about,#skills,#education,#portfolio,.sendDetails{
  color: #e0e0e0;
  padding: 10px 40px;
}

#about>p{
  text-align: justify;
  font-family: sans-serif;
  color: #a0a0a0;
}

/* skill sections */

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
  gap: 30px;
}
.item{
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  background-color: #1e1e1e;
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.item:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
.item>h3{
  font-size: 1rem;
}
.item>img{
  filter: brightness(0) saturate(100%) invert(67%) sepia(87%) saturate(819%) hue-rotate(359deg) brightness(101%) contrast(104%);
  width: 48px;
  margin-bottom: 10px;
  height: 48px;
}
.contact a:hover, .contact p:hover {
color: #ffffff;

}

.year{
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}

.degree{
  font-size: 1.2rem;
  color: #e0e0e0;
  margin-bottom: 5px;
  font-weight: 500;
}

.college{
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.edtech{
  position: relative
}
.work{
  color: #a0a0a0;
}

.edfirst,.edsecond{
  margin-bottom: 30 px;
  position: relative;
  padding-left: 25px;
}


.goal{
  height: 15px;
  width: 15px;
  border: 5px solid #ffbf00;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 1;
}

.liner{
  position: absolute;
  width: 1px;
  border-radius: 5px;
  top: 5px;
  border: 2px solid #3a3a3a;
  bottom: 0px;
  left: 6px;
}

.project-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.projects img{
  height: 180px;
  width: 100%;
  object-fit: cover;
}

.projects{
  background-color: #1e1e1e;
  border-radius: 15px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects:hover{
  transform: translateY(-5px);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
  
}
.card{
  padding: 20px ;
}

.card h3{
  color: #e0e0e0;
  margin-bottom: 10px;

}

.card p{
  color: #a0a0a0;
  line-height: 1.6;
  margin-bottom: 10px;
}
.card span{
  color: #ffbf00;
  background-color: rgba(255,191,0,0.1);
  padding: 4px 8px;
  font-size: 0.75rem;
  margin-right: 5px;
  border-radius: 5px;
}

@media (min-width: 1px) and (max-width: 600px) {
  .main-container{
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    /* background-color: #ffbf00; */
    position: static;
  }
  
  .project-container{
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 25px; */
  }
}

.nameMail{
  display: flex;
  /* flex-direction: column; */

}